.embed-metadata-bold {
	font-weight: 600;
}

.embed-metadata-italic {
	font-style: italic;
}

.embed-metadata-underline {
	text-decoration: underline;
	text-decoration-color: var(--embed-metadata-underline-color, currentColor);
}

.embed-metadata-highlight {
	background-color: var(--embed-metadata-highlight-color, var(--text-highlight-bg, #fff59d));
	border-radius: 2px;
	padding: 0 2px;
}

.embed-metadata-hoverable:hover {
	filter: brightness(1.15);
}

.embed-metadata-hoverable.embed-metadata-italic:hover {
	font-style: normal;
}

.embed-metadata-hoverable:not(.embed-metadata-italic):hover {
	font-style: italic;
}

.embed-metadata-hoverable.embed-metadata-bold:hover {
	font-weight: 400;
}

.embed-metadata-hoverable:not(.embed-metadata-bold):hover {
	font-weight: 600;
}
